/.idea
/config/ssl/*
!/config/ssl/*.sh
###> symfony/framework-bundle ###
/.env
/public/bundles/
/var/
/vendor/
/tools/mycerts/*
/log/*
!*.gitkeep
rabbit-cli-consumer.conf
###< symfony/framework-bundle ###
